.switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 30px;
  margin: 0 10px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  width: 57px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25px;
  background: #D2E9D9;
  &:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: #286439;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50px;
  }
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}