.side_menu_open {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.side_menu_close {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.toggle_close {
  transform: rotate(0deg);
  transform-origin: center initial;
  transition: transform 0.3s ease-out;
}

.toggle_open {
  transform: rotate(-180deg);
  transform-origin: center initial;
  transition: transform 0.3s ease-out;
}
